{% extends 'monapp/base.html' %}

{% block contenu %}
  <h1>{{ titremenu }}</h1>
  <ul>
    {% for commande in commandes %}
      <li>
        <strong>Commande {{ commande.id }}</strong> - 
        <em>{{ commande.date_commande }}</em> - 
        Fournisseur : {{ commande.fournisseur.name }} - 
        Statut : {{ commande.get_status_display }}
        <ul>
          {% for item in commande.commandeitems.all %}
            <li>
              <strong>{{ item.quantity }}x {{ item.product.name }}</strong>
              {% for attribute in item.product.attributes.all %}
                <span>{{ attribute.name }}: {{ attribute.value }}</span>
              {% endfor %}
            </li>
          {% empty %}
            <li>Aucun produit dans cette commande.</li>
          {% endfor %}
        </ul>
      </li>
    {% empty %}
      <li>Aucune commande disponible.</li>
    {% endfor %}
  </ul>
{% endblock %}