{% extends 'monapp/base.html' %}
{% block title %}Liste des Fournisseurs{% endblock %}
{% block contenu %}
<h2>{{ titremenu }}</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Produits</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for fournisseur in fournisseurs %}
        <tr>
            <td>{{ fournisseur.id }}</td>
            <td>{{ fournisseur.name }}</td>
            <td>
                <ul>
                    {% for product_fournisseur in fournisseur.productfournisseur_set.all %}
                        <li>{{ product_fournisseur.product.name }} ({{ product_fournisseur.price_ht }} €)</li>
                    {% empty %}
                        <li>Aucun produit disponible</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <a href="{% url 'fournisseur-detail' fournisseur.id %}">Détails</a>
                <a href="{% url 'fournisseur-update' fournisseur.id %}">Modifier</a>
                <a href="{% url 'fournisseur-delete' fournisseur.id %}">Supprimer</a>
                <a href="{% url 'add-product-to-fournisseur' fournisseur.id %}">Ajouter un produit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
