{% extends 'monapp/base.html' %}
{% block title %}Liste des Fournisseurs{% endblock %}
{% block contenu %}
<h2>Liste des Fournisseurs</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for fournisseur in fournisseurs %}
        <tr>
            <td>{{ fournisseur.id }}</td>
            <td>{{ fournisseur.nom }}</td>
            <td>{{ fournisseur.email }}</td>
            <td>{{ fournisseur.telephone }}</td>
            <td>
                <a href="{% url 'fournisseur-detail' fournisseur.id %}">Détails</a>
                <a href="{% url 'fournisseur-update' fournisseur.id %}">Modifier</a>
                <a href="{% url 'fournisseur-delete' fournisseur.id %}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% comment %} <a href="{% url 'fournisseur-add' %}" class="btn btn-primary">Ajouter un Fournisseur</a> {% endcomment %}
{% endblock %}
